.main {
	color: white;
	font-size: 4rem;
	position: absolute;
	left: 0;
	z-index: 5;
	margin-left: 1rem;
	width: 5%;
	text-align: center;
}

.temperature {
	color: white;
	transition: background-color 0.5s ease;
	&.active {
		color: red;
	}
}

.vegetation {
	color: white;
	transition: background-color 0.5s ease;
	&.active {
		color: green;
	}
}

.precipitation {
	color: white;
	transition: background-color 0.5s ease;
	&.active {
		color: blue;
	}
}
