.main{
	position: absolute;
	z-index: 1;
	opacity: 0.5;
	width: 80%;
}
@import url(http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
$iconColor: #fff;
$color: rgb(255,0,0);
.search {
	width: 100%;
	position: relative;
	&:before {
		position: absolute;
		top: 0;
		right: 0;
		width: 40px;
		height: 40px;
		line-height: 40px;
		font-family: 'FontAwesome';
		content: '\f002';
		background: $color;
		text-align: center;
		color: $iconColor;
		border-radius: 5px;
		-webkit-font-smoothing: subpixel-antialiased;
		font-smooth: always;
	}
}
.searchTerm {
	width: 100%;
	padding: 5px;
	height: 40px;
	border-radius: 5px;
	outline: none;
	background-color: rgba(0,0,0,.1);
}
.searchButton {
	position: absolute;
	top: 0;
	right: 0;
	width: 4rem;
	height: auto;
	opacity: 0;
	cursor: pointer;
}
