.main{
	position: absolute;
	z-index: 1;
	opacity: 0.5;
	width: 90%;
	padding-left: 1rem;
	top: 1rem;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
}
@import url(http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
$iconColor: #fff;
$color: rgb(255,0,0);
.search {
	width: 100%;
	&:before {
		position: absolute;
		top: 0;
		right: 0;
		width: 4rem;
		transform: translateX(10%);
		height: 2.9rem;
		line-height: 40px;
		font-family: 'FontAwesome';
		content: '\f002';
		background: $color;
		text-align: center;
		color: $iconColor;
		border-radius: 5px;
		-webkit-font-smoothing: subpixel-antialiased;
		font-smooth: always;
	}
}
.searchTerm {
	width: 100%;
	height: 40px;
	border-radius: 5px;
	outline: none;
	background-color: rgba(250,250,250, 0.75);
	color: black;
	font-size: 1.5rem;
}
.searchButton {
	position: absolute;
	top: 0;
	right: 0;
	width: 4rem;
	height: auto;
	opacity: 0;
	cursor: pointer;
}
