.main {
	background-image: none !important;
	margin-bottom: 2.5rem;
	
	.data {
		background-color: white !important;
		color: black !important;
		font-size: 2rem !important;
		margin-right: 10rem !important;
		text-align: left !important;
	}
}

.red {
	background-color: #a03535;
}

.blue {
	background-color: #5e72bc;
}

.purple {
	background-color: #905ebc;
}

.brown {
	background-color: #bc7b5e;
}

.black {
	background-color: #3a3737;
}
