.main {
	position: absolute;
	z-index: 5;
	bottom: 0;
	width: 100%;
	text-align: center;
}

.slider {
	width: 100%;
}

.control {
	font-size: 3rem;
	color: white;
	padding: 2rem;
}

.year {
	color: white;
	font-size: 5rem;
	font-family: monospace;
	text-align: left;
	background-color:rgba(255,0,0,0.3);
	width: 10rem;
}
