.main {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.map {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.search {
	position: absolute;
	top: 0;
	left: 0;
}

.comingSoon {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);

	font-size: 36px;
	text-align: center;
	padding: 36px;

	background: black;
	border: 4px solid white;
	color: white;
}
