{
  "parser": "babel-eslint",
  "plugins": [
    "react-native",
    "react",
    "import"
  ],
  "ecmaFeatures": {
    "jsx": true,
    "destructuring": true,
    "arrowFunctions": true,
    "classes": true,
    "objectLiteralShorthandMethods": true,
    "spread": true
  },
  "rules": {
    "arrow-parens": ["error", "always"],
    "arrow-spacing": ["error", { "before": true, "after": true }],
    "comma-dangle": [2, "always-multiline"],
    "comma-spacing": ["error", { "before": false, "after": true }],
    "complexity": ["error", 30],
    "eol-last": 2,
    "eqeqeq": 2,
    "import/extensions": [1, "never"],
    "import/no-unresolved": ["error", { "commonjs": true, "ignore": [
      "../containers/main",
      "Dimensions",
      "BuildLibrary",
      "Instabug",
      "NavigatorNavigationBarStylesIOS",
      "NavigatorNavigationBarStylesAndroid",
      "dismissKeyboard",
      "flattenStyle",
      "BuildNative",
      "react-native-linear-gradient",
      "PushNotificationsIOS"
    ] }],
    "indent": ["error", "tab",{"SwitchCase": 1}],
    "jsx-quotes": 2,
    "keyword-spacing": "error",
    "no-console": ["error", {"allow": ["warn", "error"]}],
    "no-const-assign": "error",
    "no-debugger": 2,
    "no-dupe-args": 2,
    "no-duplicate-imports": ["error", { "includeExports": true }],
    "no-multi-spaces": 2,
    "no-unused-vars": 2,
    "no-use-before-define": 2,
    "no-trailing-spaces": ["error", { "skipBlankLines": false }],
    "no-var": "error",
    "no-warning-comments": ["error", { "terms": ["todo"], "location": "anywhere" }],
    "object-shorthand": ["error", "always"],
    "prefer-arrow-callback": "error",
    "prefer-const": "error",
    "prefer-template": "error",
    "quotes": [2, "single"],
    "react-native/no-inline-styles": "error",
    "react/display-name": 0,
    "react/jsx-boolean-value": [1, "always"],
    "react/jsx-closing-bracket-location": [2, {"location": "line-aligned"}],
    "react/jsx-max-props-per-line": [2],
    "react/jsx-first-prop-new-line": [2, "multiline"],
    "react/jsx-curly-spacing": 1,
    "react/jsx-no-duplicate-props": 1,
    "react/jsx-no-undef": "error",
    "react/jsx-sort-prop-types": 0,
    "react/jsx-sort-props": 0,
    "react/jsx-uses-react": 1,
    "react/jsx-uses-vars": 1,
    "react/jsx-wrap-multilines": 2,
    "react/no-danger": 1,
    "react/no-did-mount-set-state": 0,
    "react/no-did-update-set-state": 1,
    "react/no-multi-comp": [2, {"ignoreStateless": true}],
    "react/no-unknown-property": 1,
    "react/prop-types": 2,
    "react/react-in-jsx-scope": 1,
    "react/self-closing-comp": 2,
    "react/sort-comp": 2,
    "semi": 2,
    "space-before-blocks": ["error", { "functions": "always", "keywords": "always", "classes": "always" }]
  },
  "env": {
    "node": true
  },
  "globals": {
    "fetch": true
  }
}
